.ipynb_checkpoints
.vscode
__pycache__
/dog-breeds-visualization-keras/data
/dog-breeds-visualization-keras/temp
/wild-cats-visualization/data/*
!/wild-cats-visualization/data/*.txt
/planet-amazon-classification/data
/airbus-ship-segmentation/data
/amazon-reviews-sentiment-analysis/*/*.tsv
*.pth
*.pkl
*.hdf5
*.h5