.ipynb_checkpoints
.vscode
__pycache__
projects/optimized-transfer-learning/data
projects/optimized-transfer-learning/temp
projects/wild-cats-visualization/data/*
! projects/visual-model-explanation/data/*.txt
projects/planet-amazon-classification/data
projects/airbus-ship-segmentation/data
projects/amazon-reviews-sentiment-analysis/*/*.tsv
projects/movielens-recommendation/data/ml-latest-small
projects/rossmann-sales-prediction/data
projects/credit-card-fraud-detection/data
projects/credit-card-fraud-detection/models
*.pth
*.pkl
*.hdf5
*.h5