.ipynb_checkpoints
.vscode
__pycache__
/dog-breeds-keras/data
/dog-breeds-keras/temp
/wild-cats-fastai/data/*
!/wild-cats-fastai/data/*.txt
/planet-amazon-fastai/data
/ship-detection-fastai/data
/amazon-reviews-fastai/*/*.tsv
*.pth
*.pkl
*.hdf5
*.h5