:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y));
        padding-bottom: calc(var(--jumbotron-padding-y));
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.img-container {
    background-color: #444;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.card-img-top {
    height: 225px;
    width: 100%;
    display: block;
    opacity: 0.5;
    filter: alpha(opacity=50);
    object-fit: cover;
    transition: opacity .5s;
}

.box-shadow:hover .card-img-top {
    opacity: 0.7;
    transition: opacity .5s;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bolder;
}